<%= render 'shared/errors', obj: @user %>
<div class="row">
    <div class="col-sm-12">
    <%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>

            <div class="form-group">
                <div class="control-label col-sm-2 col-sm-offset-2">
                    <%= f.label "First Name" %>
                </div>
                <div class="col-sm-5">
                    <%= f.text_field :firstname, class: "form-control", placeholder: "Enter First Name" %>
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-sm-2 col-sm-offset-2">
                    <%= f.label "Last Name" %>
                </div>
                <div class="col-sm-5">
                    <%= f.text_field :lastname, class: "form-control",  placeholder: "Enter Last Name" %>
                </div>
            </div>
       

            <div class="form-group">
                <div class="control-label col-sm-2 col-sm-offset-2">
                    <%= f.label "Email Address" %>
                </div>
                <div class="col-sm-5">
                    <%= f.email_field :email, class: "form-control",  placeholder: "Enter Email Address" %>
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-sm-2 col-sm-offset-2">
                    <%= f.label "Company Name" %>
                </div>
                <div class="col-sm-5">
                    <%= f.text_field :company, class: "form-control",  placeholder: "Enter Company Name" %>
                </div>
            </div>
        

            <div class="form-group">
                <div class="control-label col-sm-2 col-sm-offset-2">
                    <%= f.label "Relation to ThinManager" %>
                </div>
                <div class="col-sm-3">
                    <%= f.select :relation, options_for_select([
                      [""],
                      ["Current or Future End User"], 
                      ["Channel Partner"], 
                      ["Systmes Integrator"], 
                      ["Rockwell Automation Employee"]
                      ], @user.relation), class: "form-control" %>
                </div>
             </div>

             <div class="form-group">
                <div class="control-label col-sm-2 col-sm-offset-2">
                    <%= f.label :password %>
                </div>
                <div class="col-sm-4">
                    <%= f.password_field :password, class: "form-control",  placeholder: "Enter Password" %>
                </div>
            </div>
        
        <br />
        
            <div class="col-sm-4 col-sm-offset-4">
                <%= f.submit(@user.new_record? ? "Create Account" : "Update Profile", class: "btn btn-primary btn-lg")%>
            </div>
    </div>
</div>
    <% end %>