<h1 class="page-header left-to-left">User Profile Page</h1>
<br />
<div align="center">
<div class="gravatar-img">
<%= gravitar_for @user, size: 150 %>
<p class="tiny">power by <a href="https://gravatar.com" target="_blank">gravatar</a></p>
</div>
<h3><%= @user.firstname %> <%= @user.lastname %></h3>
<h4><%= @user.company %></h4>
<br />
<p><span style="font-weight:bold;">Email: </span> <%= @user.email %></p>
<p><span style="font-weight:bold;">Relation to ACP: </span> <%= @user.relation %></p>
<% if logged_in? && current_user.admin? %>
<p style="font-size:.75em;"><%= link_to "Edit Profile", edit_user_path(@user) %></p>
<% end %>
</div>

<% if (logged_in? && current_user.id == @user.id) || (logged_in? && current_user.admin?) %>
    <hr />

    <br />
    <h4>Events Registered for by User <span style="font-size:.65em;">&nbsp;&nbsp;[ <%= link_to "View Events »", events_path %> ]</span></h4>
    
    <% UserRegister.where(user_id: @user.id).each do | event | %>
        <div class="well" style="margin:auto;">
        <div class="row">
        
            <div class="col-sm-4">
                    <span style="font-weight:bold;"><%= link_to "#{event.event.title}", event_path(event.event) %></span>
            </div>
            <div class="col-sm-3">
                <% if event.event.venues.any? %>
                    <%= event.event.venues.last.name %>
                <% end %>
            </div>
            <div class="col-sm-3">
                <% if event.event.eventtime %>
                    <%= event.event.eventtime.to_s(:time_display) %>
                <% end %>
            </div>
            <div class="col-sm-2" align="right">
                    <%= link_to "Remove", user_register_path(event), method: :delete, data: {confirm: "Are you sure you want to unregister from this event?"} %>
            </div>
        </div>
        </div>
    <% end %>
    
<% end %>