<h1 class="page-header">ThinManager Events </h1>
<% if logged_in? && current_user.admin? %>
<%= link_to "Create New Event", new_event_path, class: "btn btn-default new-event-button" %>
<% end %>
<%= render 'categories/nav' %>
<br />
<div align="center"><%= will_paginate %></div>
<%= render 'event', obj: @events %>
<div align="center"><%= will_paginate %></div>
