<h1 class="page-header">Event Venues</h1>

<% Venue.all.each do |venue| %>
    <div class="well col-xs-10 col-xs-offset-1">
        <h4 align="center"><%= venue.name %></h4>
        <p align="center"><%= venue.street %><br /><%= venue.city %>, <%= venue.state %> <%= venue.zipcode %></p>
        <br />
        <p align="center"><%= link_to "See Events at this location" %></p>
        <% if logged_in? and current_user.admin? %>
            <hr />
            <p align="right" style="margin-bottom:0px;"><%= link_to "Edit Venue", edit_venue_path(venue), class: "btn btn-primary btn-sm" %></p>
        <% end %>
    </div>
<% end %>