<!DOCTYPE html>
<html>
  <head>
    <title>Events</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
      <% if logged_in? and current_user.admin? %>
          <p style="position:absolute; right:15px; font-size:0.8em;">(Admin Account)</p>
      <% else %>
      <% end %>
    <div class="container" style="min-height:750px;">
      <%= yield %>
    </div>
    <br />
    <!--<%= debug(params) if Rails.env.development? %>-->
  </body>
</html>
